body {
	background-color: salmon;
	align-content: center;
}

div {
	text-align:  center;
}

input {
	text-align: center;
}

h1 {
	text-align: center;
}

label {
	text-align: center;
}