@charset "ISO-8859-1";
body{
	background-color: rgb(255, 255, 255);
	background-image: url(https://img.freepik.com/premium-photo/bright-musical-background_476363-6644.jpg?w=1380);
	background-size:100%;
	background-repeat: no-repeat; 
}
	a{
	color:red;
	}
	

