@charset "ISO-8859-1";

body{
		background-color: orange;
		text-align:center;
		padding:10px;
		font-size:20px;
		
	background-image: url(https://media.istockphoto.com/id/902890238/vector/music-notes.jpg?s=612x612&w=is&k=20&c=7yjQ8z6Tp4j3jhp_oHrJxue9bZfCxmL156lf3wfupio=);	
	background-size:100%;
	background-repeat: no-repeat; 
		
}
